- wrap_layout :default do
  %article#post
    %header
      %h1= current_article.title
      %p
        Posted by
        %strong Viscount Wathika
        on
        %strong #{current_article.date.strftime('%B %e, %Y')}
    = yield
